body{
    
}

h2,h3{
    text-decoration: underline;
    color: rgb(72, 92, 155);
}

.countryData{
    height:850px;
}
.dataBlock{
    font-size:20px;
    background-color: rgb(255, 255, 255);
    display: block;
    width:190px;
    height:150px;
    box-shadow: 0 5px 6px -3px #777;
    border-radius: 25px;
}
.BlockHeader{
    background-color:rgb(72, 92, 155);
    height:40px;
    font-weight: bold;
    color:white;
}

.co-1-row-0{
    position: relative;
    top: -20px;
    left:70px;
}

.flag{ /*co-1-row-1*/
    box-shadow: 0 6px 8px -2px #777;
    border-radius: 0px 15px;
    /* position: relative;
    top: -170px;
    left: 280px; */
}

.co-1-row-1{
    box-shadow: 0 0px 0px 0px;
    position: relative;
    top: -170px;
    left: 280px;
    font-size: 5px;
}

.countryNameUnderFlag{
    font-size:22px;
    text-decoration: underline;
}
.co-1-row-2{
    position: relative;
    top: -340px;
    left: 490px;
    /* margin: -30% 35%; */
}

.co-2-row-0{
    position: relative;
    top: -340px;
    left: 0px;
}
.co-2-row-1{
    position: relative;
    top: -510px;
    left: 210px;
}
.co-2-row-2{
    position: relative;
    top: -680px;
    left: 420px;
}

.co-3-row-0{
    position: relative;
    top: -680px;
    left: 0px;
}
.co-3-row-1{
    position: relative;
    top: -850px;
    left: 210px;
}
.co-3-row-2{
    position: relative;
    top: -1020px;
    left: 420px;
}

.BlockData{
    font-size:25px;
}

.WorldData{
    margin:00% 9%;
}



.button {
    background-color: black; 
    border: 5px;
    color: white;
    padding: 10px 2px;   
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px 30px ;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid rgb(72, 92, 155);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 45px;
    left: 0%;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;

    
    
  }

  
  .button:hover {
    background-color: rgb(191, 205, 250);
  }

  i{
    color:rgb(72, 92, 155);
    font-weight: bold;
    margin: 0px -20px;
}

  .search{
    margin: 30px 1px;
    display: block;
    width: 35%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 3px rgb(72, 92, 155);
    border-bottom-style: solid;
    text-align: center;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    outline: none;
    font-size: 20px;
    color: rgb(57, 75, 134);
  }
  
 .search:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(48, 63, 112);
  } 
.serachIcon {
    height:24px;
    margin:-2px -13px;
} 



td,th {
    border: 1px solid #ddd;
    padding: 8px;
}
th{
    border-radius: 8px 8px 0px 0px;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(72, 92, 155);
    color: white;
    cursor: pointer;
  }

  table{
    border-radius: 25px;
    
  }

  .sortBy{
      display:block;
      width:160px;
      margin: 30px 78%;
      font-size: 15px;
      font-weight: bold;
      color:rgb(72, 92, 155);

      
  }
  .sortBy select{
      text-align: center;
      border: 2px solid rgb(72, 92, 155);
      height:30px;
      width:93px;
      color:rgb(72, 92, 155);
      font-size: 12px;
      font-weight: bold;
  }

  .todayCases,.todayDeaths{
    color:red;
    font-weight: bold;
  }

  .todayRecovered{
    color:green;
    font-weight: bold;
  }
  .countryName{
    color:rgb(72, 92, 155);
    font-weight: bold;
  }


  .navBar ul {
    list-style: none;
    margin : 0;
    padding: 0%;
    text-align: center;
    font-weight: bold;
}

.navBar li{
    display: inline-block;
    margin: 20px;

}

.navBar a{
    text-decoration: none;
    color: rgb(72, 92, 155);

}

.navBarlog a:hover,
.navBar a:active,
.navBar a.active{
    color: rgb(72, 92, 155);
    border-bottom: 3px solid rgb(72, 92, 155);
}

.navBar{
    border-bottom: 5px solid rgb(72, 92, 155);
}

.siteName{
    font-size: 26px;
    color: rgb(72, 92, 155) ;
    position: relative;
    left:-13%;
}
.navOptions{
    margin:0px 0% 0 22%;
}