body{
    
}

.dataBlock{
    font-size:20px;
    background-color: rgb(255, 255, 255);
    display: block;
    width:190px;
    height:150px;
    box-shadow: 0 5px 6px -3px #777;
    border-radius: 25px;
}
.BlockHeader{
    background-color:darksalmon;
    height:40px;
}

.co-1-row-0{
    position: relative;
    top: -20px;
    left:70px;
}

img{ /*co-1-row-1*/
    box-shadow: 0 6px 8px -2px #777;
    border-radius: 0px 15px;
    /* position: relative;
    top: -170px;
    left: 280px; */
}

.co-1-row-1{
    box-shadow: 0 0px 0px 0px;
    position: relative;
    top: -170px;
    left: 280px;
    font-size: 5px;
}

.countryNameUnderFlag{
    font-size:22px;
    text-decoration: underline;
}
.co-1-row-2{
    position: relative;
    top: -340px;
    left: 490px;
    /* margin: -30% 35%; */
}

.co-2-row-0{
    position: relative;
    top: -340px;
    left: 0px;
}
.co-2-row-1{
    position: relative;
    top: -510px;
    left: 210px;
}
.co-2-row-2{
    position: relative;
    top: -680px;
    left: 420px;
}

.co-3-row-0{
    position: relative;
    top: -680px;
    left: 0px;
}
.co-3-row-1{
    position: relative;
    top: -850px;
    left: 210px;
}
.co-3-row-2{
    position: relative;
    top: -1020px;
    left: 420px;
}

.BlockData{
    font-size:25px;
}

.WorldData{
    margin:00% 9%;
}
h2,h3{
    text-decoration: underline;
}
