
.dataBlockt{
    font-size:20px;
    background-color: rgb(255, 255, 255);
    display: block;
    width:190px;
    height:150px;
    box-shadow: 0 5px 6px -3px #777;
}
.BlockHeadert{
    background-color:rgb(72, 92, 155);
    height:40px;
    font-weight: bold;
    color: aliceblue;
}
.co-1t{
    position: relative;
    top: -170px;
    left: 210px;
}
.co-1-row-2t{
    position: relative;
    top: -340px;
    left: 420px;
}

.co-2-row-0t{
    position: relative;
    top: -340px;
    left: 0px;
}
.co-2-row-1t{
    position: relative;
    top: -510px;
    left: 210px;
}
.co-2-row-2t{
    position: relative;
    top: -680px;
    left: 420px;
}

.BlockDatat{
    font-size:25px;
}


.WorldData{
    height:430px;
}
